@{
    ViewData["Title"] = "Home Page";
}
 


<div class="IndexDiv">
    

    <div class="row m-1">

        <div class="col-3 w-50">
            <img src="~/images/partner.png" class="img-fluid " />
        </div>
        <div class="col-5" >
            <p ><h4 class="meet" >اجتماع السواعد يبني الوطن و اجتماع القلوب يخفف المحن</h4></p>
        </div>
        


    </div>
</div>
